.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffe6eb;
  font-family: sans-serif;
  text-align: center;
}

.buttons {
  margin-top: 20px;
  position: relative;
}

button {
  padding: 12px 24px;
  font-size: 18px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.yes {
  background: #ff4d6d;
  color: white;
}

.no {
  background: #ccc;
}
